<div class="container">
  <h1>User Form</h1>
  <form #form="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <p>Name</p>
    <input type="text" formControlName="name" [ngClass]="{'formError': userForm.get('name').invalid && form.submitted }" />
    <p class="error" *ngIf="userForm.get('name').invalid && (userForm.get('name').touched || form.submitted)" > Name is mandatory </p>
    <p>Email</p>
    <input type="text" formControlName="email" [ngClass]="{'formError': userForm.get('email').invalid && form.submitted }"/>
    <p class="error" *ngIf="userForm.get('email').errors?.required && (userForm.get('email').touched || form.submitted)" > Email is mandatory </p>
    <p class="error" *ngIf="userForm.get('email').errors?.pattern && (userForm.get('email').touched || form.submitted)" > Email is in wrong format </p>
    <p>Phone</p>
    <input type="text" formControlName="phone" [ngClass]="{'formError': userForm.get('phone').invalid && form.submitted }"/>
    <p class="error" *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched" > Phone number is invalid </p>
    <br />
    <button type="submit">Register</button>
    <p class="error" *ngIf="userForm.invalid && form.submitted" > There are errors in the form </p>
  </form>
</div>

<button (click)="test()" >Test </button>
